<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="main-container">
    <!-- Меню -->
    <div class="menu">
        <a th:href="@{/images}">Gallery</a>
        <a th:href="@{/upload}">Upload</a>
    </div>

    <div class="content-area">
        <div class="side-bar-area">
            <div class="search-container">
                <label>
                    <input type="text" class="search-input" placeholder="Search images..."/>
                </label>
            </div>

            <div class="tags-container" id="tags-container">Tags
                <span th:each="tag : ${image.tags}" class="tag">
                    <span th:text="${tag.name}" class="tag-name"></span>
                    <span th:text="${tag.imageCount}" class="tag-image-count"></span>
                </span>
            </div>
        </div>

        <main class="main-content">
            <img th:src="${image.imageUrl}" alt="Изображение"/>
        </main>
    </div>

</div>


</body>
</html>