<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Images Gallery</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="main-container">
    <div class="menu">
        <a th:href="@{/auth/home}">My Account</a>
        <a th:href="@{/images}">Gallery</a>
        <a th:href="@{/upload}">Upload</a>
    </div>

    <div class="content-area">
        <div class="side-bar-area">
            <div class="search-container">
                <label>
                    <form class="search-form" action="/images" method="get">
                        <input type="text" id="search-input" class="search-input" placeholder="Search images..." name="search"/>
                    </form>
                </label>
            </div>

            <div class="tags-container" id="tags-container">Tags
                <span th:each="tag : ${tags}" class="tag">
                    <a href=""
                       th:text="${tag.name}"
                       th:attr="data-tag=${tag.name}"
                       class="tag-name"></a>
                    <span th:text="${tag.imageCount}" class="tag-image-count"></span>
                </span>
            </div>
        </div>

        <div class="gallery-grid">
            <div class="gallery-item" th:each="thumbnail : ${thumbnails}">
                <a th:href="@{'/images/view/' + ${thumbnail.imageId}}">
                    <img th:src="${thumbnail.thumbnailUrl}"/>
                </a>
            </div>
        </div>
    </div>

    <div class="bottom-menu">
        <div class="bottom-pagination">
            <a th:if="${currentPage > 0}"
               th:href="@{/images(page=${currentPage - 1}, size=${size}, search=${search})}">← Previous</a>
            <span th:unless="${currentPage > 0}" class="pagination-link disabled">← Previous</span>

            <div th:if="${totalPages == 0}">
                <a href="#" class="current">1</a>
            </div>

            <div th:if="${totalPages > 0 and totalPages < 5}">
            <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:href="@{/images(page=${i}, size=${size}, search=${search})}"
                   th:text="${i + 1}"
                   th:classappend="${i == currentPage} ? ' current' : ''"></a>
            </span>
            </div>

            <div th:if="${totalPages >= 5}">
                <a th:href="@{/images(page=0, size=${size}, search=${search})}"
                   th:classappend="${currentPage == 0} ? ' current' : ''"
                   th:text="${1}">1</a>
                <a th:if="${totalPages > 1}"
                   th:href="@{/images(page=1, size=${size}, search=${search})}"
                   th:classappend="${currentPage == 1} ? ' current' : ''"
                   th:text="${2}">2
                </a>

                <span th:if="${startPage > 2}" class="gap">…</span>

                <span th:each="i : ${#numbers.sequence(
                    (startPage > 2 ? startPage : 2),
                    (endPage < totalPages - 3 ? endPage : totalPages - 3))}">
                <a th:href="@{/images(page=${i}, size=${size}, search=${search})}"
                   th:text="${i + 1}"
                   th:classappend="${i == currentPage} ? ' current' : ''">
                </a>
            </span>

                <span th:if="${endPage < totalPages - 3}" class="gap">…</span>

                <a th:if="${totalPages > 2}"
                   th:href="@{/images(page=${totalPages - 2}, size=${size}, search=${search})}"
                   th:classappend="${currentPage == totalPages - 2} ? ' current' : ''"
                   th:text="${totalPages - 1}">
                </a>

                <a th:if="${totalPages > 1}"
                   th:href="@{/images(page=${totalPages - 1}, size=${size}, search=${search})}"
                   th:classappend="${currentPage == totalPages - 1} ? ' current' : ''"
                   th:text="${totalPages}">
                </a>
            </div>

            <a th:if="${currentPage + 1 < totalPages}"
               th:href="@{/images(page=${currentPage + 1}, size=${size}, search=${search})}">Next →</a>
            <span th:unless="${currentPage + 1 < totalPages}" class="pagination-link disabled">Next →</span>
        </div>
    </div>
</div>

<script src="/js/search-by-tags.js"></script>

</body>
</html>
