<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="main-container">
    <div class="menu">
        <a th:href="@{/auth/home}">My Account</a>
        <a th:href="@{/images}">Gallery</a>
        <a th:href="@{/upload}">Upload</a>
    </div>

    <div class="content-area">
        <div class="side-bar-area">
            <div class="search-container">
                <label>
                    <form class="search-form" action="/images" method="get">
                        <input type="text" id="search-input" class="search-input" placeholder="Search images..." name="search"/>
                    </form>
                </label>
            </div>

            <div class="tags-container" id="tags-container">Tags
                <span th:each="tag : ${tags}" class="tag">
                    <a href=""
                       th:text="${tag.name}"
                       th:attr="data-tag=${tag.name}"
                       class="tag-name"></a>
                    <span th:text="${tag.imageCount}" class="tag-image-count"></span>
                </span>
            </div>
        </div>

        <main class="main-content">
            <img th:src="${image.imageUrl}" alt="Изображение"/>
        </main>
    </div>

</div>

<script src="/js/search-by-tags.js"></script>

</body>
</html>
