<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<!-- Общий контейнер для всего контента -->
<div class="main-container">
    <!-- Меню -->
    <div class="menu">
        <a th:href="@{/account}">My Account</a>
        <a th:href="@{/images}">Gallery</a>
        <a th:href="@{/upload}">Upload</a>
    </div>

    <!-- Контейнер под меню и слева от галереи -->
    <div class="content-area">
        <!-- Блок для поисковой строки -->
        <div class="side-bar-area">
            <div class="search-container">
                <label>
                    <input type="text" class="search-input" placeholder="Search images..."/>
                </label>
            </div>

            <div class="tags-container" id="tags-container">Tags
                <span th:each="tag : ${image.tags}" class="tag" th:text="${tag.name}"></span>
            </div>
        </div>

        <!-- Основное изображение -->
        <main class="main-content">
            <img th:src="${image.imageUrl}" alt="Изображение"/>
        </main>
    </div>

</div>


</body>
</html>