<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Загрузка файла</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<!-- Меню сверху -->
<div class="menu">
    <a th:href="@{/account}">My Account</a>
    <a th:href="@{/images}">Gallery</a>
    <a th:href="@{/upload}">Upload</a>
</div>

<!-- Основной контент, центрированный -->
<div class="page-content">
    <div class="upload-container">
        <form th:action="@{/upload}" method="post" enctype="multipart/form-data" class="upload-form">

            <label for="file" class="upload-label">Выберите файл:</label>
            <input type="file" id="file" name="file" required class="upload-input" />

            <label for="tagIds" class="upload-label" style="margin-top: 20px;">Выберите теги:</label>
            <select id="tagIds" name="tagIds" multiple size="5" required class="upload-select">
                <option th:each="tag : ${tags}"
                        th:value="${tag.id}"
                        th:text="${tag.name}">TagName</option>
            </select>

            <button type="submit" class="submit-btn" style="margin-top: 20px;">Загрузить</button>
        </form>
    </div>
</div>

</body>
</html>
